@import '~normalize.css';
body {
    max-width: 800px;
    font-family: Times, Times New Roman, serif;
    font-style: italic;
}

.wrapper {
    border: 2px solid black;
    margin: 5px;
}

.imgAndInfoWrapper {
    position: relative;
    display: flex;
    justify-content: space-evenly;
}

.dateAndSignWrapper {
    display: flex;
    justify-content: space-around;
}